@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Raleway:wght@400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --color-lightWhite: #FCFCFC;
  
  --font-button: "Inter", sans-serif;
  --font-body: "Raleway", sans-serif;

  @keyframes float {
    0%, 100% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(5deg); }
  }

  /* Define the animation utility */
  --animate-float: float 6s ease-in-out infinite;
}