@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Raleway:wght@400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-button: "Inter", sans-serif;
  --font-body: "Raleway", sans-serif;
}